.article_details{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.other_info__article{
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.favourite-toggle{
    cursor: pointer;
}

.other_info__article .type__category{
    display: inline-block;
    background: rgba(93, 113, 221, 0.05);
}

.other_info__article .date__publish{
    display: inline-block;
}

.pagination__list{
    display: flex;
    justify-content:space-between;
    padding: 0;
    gap: 20px;
}

.pagination__list li{
    margin: 0;
}

.text__article{
    font-size: 18px;
    /* margin-bottom: 30px; */
}

.photo__article img{
    border-radius: 20px;
    width: 100%;
}

.main_info__article{
    gap: 30px;
}

@media screen and (max-width: 490px) {
    .link__switch > span{
        display: none;
    }
}
