.contact__block{
    margin: 140px 0;
}

.contact__article{
    font-size: 30px;
    color: #2F2222;
    padding-top: 40px;
}

.point{
    margin-top: 10px;
}

.social{
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    transition: transform 0.5s linear;
}

.social img:hover{
    transform: scale(1.1);
}

.write_us{
    background: #FFFFFF;
    box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
    border-radius: 20px;
    padding: 0px 60px 60px 60px;
}

.callback__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.callback__form button{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background: #5D71DD;
    border-radius: 20px;
    height: 49px;
}

.callback__form button{
    font-size: 18px;
    color: #FFFFFF;
}

.callback__form input, textarea{
    padding: 13px 32px 13px 30px;
    background: #F5F5F5;
    border: none;
    border-radius: 20px;
}

.callback__form textarea{
    height: 81px;
    resize: none;
}

.callback__form input:focus, textarea:focus{
    outline: none;
    border: 2px solid #5D71DD;
}

@media screen and (max-width: 992px){
    .wrap{
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .del__prop{
        margin-left: 0;
        width: 75%;
    }

    .contact__block{
        text-align: center;
    }

    .social, .contact{
        justify-content: center;
    }
}