{% extends 'articles/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/favourite.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-12 align-self-center">
                <div class="favourite-content">
                    <h2><b>Избранное</b></h2>
                    <div class="favourite-list">
                        <div class="favourite-item">
                            <div class="favourite-item-wrapper">
                                <div class="favourite-info">
                                    <div class="article">Управление ИТ-активами – скучная рутина или творческая задача?
                                    </div>
                                    <div class="date">13 дек 2020</div>
                                </div>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <div class="favourite-item">
                            <div class="favourite-item-wrapper">
                                <div class="favourite-info">
                                    <div class="article">Управление ИТ-активами – скучная рутина или творческая задача?
                                    </div>
                                    <div class="date">13 дек 2020</div>
                                </div>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                        <div class="favourite-item">
                            <div class="favourite-item-wrapper">
                                <div class="favourite-info">
                                    <div class="article">Управление ИТ-активами – скучная рутина или творческая задача?
                                    </div>
                                    <div class="date">13 дек 2020</div>
                                </div>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
